@import '~@fluentui/react/dist/sass/References.scss';
div {
    font-family:"Segoe UI" ;
  }

.personalEmail {
    background: inherit;
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.1),
    2px 4px 6px rgba(0, 0, 0, 0.1),
    1px 1px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #ececec;
    border-radius: 2px;
    --varientBGColor: $ms-color-primary;
    --varientFontColor: black;
    --varientBGHovered: black;
    background-color: var(--varientBGColor);
    color: var(--varientFontColor) !important;
    padding: .7em;
    .title,
    .viewAll,
    .list {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .title * {
        font-size: 20px!important;
        font-weight: 600!important;
        color: var(--varientFontColor) !important;
        margin-left: 5px;

    }
    button * {
        color: var(--varientFontColor) !important;
    }
    .message {
        box-shadow: 1px 2px 18px rgba(173,168,168,0.1);
        border: 1px solid #ececec;
        border-radius: 8px;
        display: block;
        padding: 0.5em 10px;
        color: var(--varientFontColor);
        margin-bottom: .5%;
        &:hover {
            background: var(--varientBGHovered);
        }
    }
    .from {
        @include ms-font-l;
        @include ms-fontWeight-semibold;
    }
    .subject {
        @include ms-font-s;
        @include ms-fontWeight-semibold;
        font-weight: bold;
        float: left;
        width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .date {
        @include ms-font-s;
        @include ms-fontWeight-semibold;
        font-weight: bold;
        float: right;
        width: 20%;
        text-align: right;
        word-break: keep-all;
    }
    .preview {
        @include ms-font-s;
        @include ms-fontWeight-light;
        clear: both;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .isRead {
        .from {
            @include ms-fontWeight-semilight;
        }
        .subject {
            @include ms-fontWeight-semilight;
        }
        .date {
            @include ms-fontWeight-semilight;
        }
        .preview {
            @include ms-fontWeight-light;
        }
    }
    .noMessages {
        @include ms-font-m;
    }
    .error {
        @include ms-font-m;
        color: $ms-color-alert;
    }
}

.personalEmail:hover{box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.1),
                                 2px 4px 6px rgba(0, 0, 0, 0.1),
                                 1px 1px 12px rgba(0, 0, 0, 0.1);
                                 border-radius: 2px;}
